h1 Notification
p = @greeting
p= "#{@user.email} has just answered your question: #{@answer.body}"
p= "You have received this message because you are subscribed to the question '#{@answer.question.title}'"
p= "If you want to unsubscribe from the answers, please visit the question page:"
a href=="#{question_url(@answer.question)}"
